.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #77002e;
  padding: 1rem 2rem;
}

@media (min-width: 1024px) {
  .header {
    justify-content: space-between;
  }
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.header ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header li {
  margin: 1rem 2rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
  white-space: nowrap;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
